*{
    margin: 0;
    padding: 0;
  }
  

  .container{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    
  }
  .heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
  
  }
  .img-holder{
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  #input2[type="file"] {
      display: none;
  }
  .label2{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

  }
  .image-upload2{
    display: block;
    margin: auto;
    width: 200px;
      height: 30px;
    color: white;
    border-radius: 5px;
    text-align: center;
    background-color: #000080;
    cursor: pointer;
  }